@for(user of users; track user){
<div class="container d-flex justify-content-center">
  <div class="card" style="width: 18rem">
    <div class="d-flex justify-content-center">
      <img
        src="../../../assets/user.png"
        class="card-img-top"
        alt="user image"
        style="border-radius: 100%; width: 10rem"
      />
    </div>
    <div class="card-body">
      <h2>{{ user.username }}</h2>
      <p class="card-text">Nome: {{ user.name }}</p>
      <p class="card-text">Città: {{ user.address.city }}</p>
      <p class="card-text">Email: {{ user.email }}</p>
      <p class="card-text">Tel: {{ user.phone }}</p>
      <p class="card-text">Sito web: {{ user.website }}</p>
    </div>
  </div>
</div>
}
